PORT=5001
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/mp_result_management
JWT_SECRET=mp_board_rms_jwt_super_secret_key_2026_secure
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5174
PUBLIC_URL=http://localhost:5174
